.signin__caption {
  margin: 0 auto;
  padding: 25px 0;
  max-width: 576px;
  font-size: 2.85em;
  font-weight: 500;
}

.caption {
  margin-left: 20px;
}

.signin__wraper {
  margin-bottom: 50px;
}

.signin__form {
  margin: 0 auto;
  max-width: 576px;
}

.signin__label {
  display: block;
  padding: 5px 0;
}

.signin__input {
  margin-top: 5px;
}

.focus {
  margin: 0;
  font-size: 16px;
  color: #ff0000;
}

.signin__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .main__btn {
  background-color: #ff0000;
  border: 0;
}

.main__btn:hover {
  background-color: #d30707;
} */
