.group {
  justify-content: space-around;
  margin-top: 50px;
  column-gap: 30px;
}
.cards {
  margin-top: 50px;
}

.img {
  min-height: 220px;
  overflow: hidden;
}

.img img {
  display: block;
  width: 100%;
  height: auto;
}

.card {
  max-width: 300px;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
}
