.navigation__navbar {
  justify-content: space-around;
}

.navigation__navbrand {
  font-size: 36px;
  text-transform: uppercase;
}

.navigation__navitem {
  position: relative;
  transition: 0.3s;
}

.navigation__navitem:hover::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background: #f08080;
  transition: 0.3s;
}

.navigation__navlink {
  font-size: 1em;
  text-transform: uppercase;
  color: #3399ff;
  transition: 0.3s all;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
